@model MyBookingsApp.Areas.App.Models.Management.AvailabilityListViewModel

@{
    ViewBag.Title = "Availability";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Availability"))
{



    <div class="container">
        <section class="options">
            @for (int i = 0; i < Model.GroupedAvailabilityList.Count; i++)
            {
                @Html.HiddenFor(a => a.GroupedAvailabilityList[i].RoomTypeID)
            }
            @*Options will be rendered in Partial*@
            <div class="row">
                <div class="form-group col-4">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        @Html.EditorFor(a => a.Options.StartDate, new { htmlAttributes = new { @value = Model.Options.StartDate.ToString("dd/MM/yyyy"), @class = "form-control datetimepicker-input", datatarget = "#datetimepicker1" } })
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        @Html.EditorFor(a => a.Options.EndDate, new { htmlAttributes = new { @value = Model.Options.EndDate.ToString("dd/MM/yyyy"), @class = "form-control datetimepicker-input", datatarget = "#datetimepicker2" } })
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-4">
                    <input type="submit" class="btn btn-success" value="Save" />
                </div>
            </div>
</section>

        <section class="availability-grid col-lg-12 hidden-xs">
            <table class="table">
                <thead>
                    <tr>
                        <td>Date</td>
                        @for (int i = 0; i <= Model.Options.RoomTypeList.Count - 1; i++)
                        {
                            <td>@(Model.Options.RoomTypeList[i].Text) </td>
                            @Html.HiddenFor(a => a.Options.RoomTypeList[i].Value)
                        }
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i <= Model.GroupedAvailabilityList.First().AvailabilityList.Count - 1; i++)
                    {

                        <tr>
                            <td>@(Model.GroupedAvailabilityList.First().AvailabilityList[i].Date.ToShortDateString())</td>
                            @for (int j = 0; j <= Model.GroupedAvailabilityList.Count - 1; j++)
                            {
                                <td>@Html.TextBoxFor(a => a.GroupedAvailabilityList[j].AvailabilityList[i].Availability,  new { @class = "form-control" })
                            @Html.HiddenFor(a=>a.GroupedAvailabilityList[j].AvailabilityList[i].Date)
                            </td>

                            }
                        </tr>
                    }
                </tbody>
            </table>
            

        </section>

        <section class="availability-grid-phone col-xs-12 hidden-sm"></section>

    </div>

    @section scripts{

        
    <script>
        $('#datetimepicker1').datetimepicker({
            format: 'DD-MM-YYYY',
            locale: 'en-gb',
            defaultDate:'@Model.Options.StartDate.Date.ToString("yyyy-MM-dd")'
        });

                $('#datetimepicker2').datetimepicker({
            format: 'DD-MM-YYYY',
            locale:'en-gb',
            defaultDate:'@Model.Options.EndDate.Date.ToString("yyyy-MM-dd")'
        });

    </script>
    }
}